{% extends 'mobile/base.html' %}

{% set page_id = "querystreetcount-page" %}

{% block content %}
<div data-role="content" id="content">
    <ul data-role="listview" data-filter="true">
        {% for street in result %}
        <li>
        <a href="/mobile/querycostercount/{{street.f_street_id}}">
            <h1>{{street.f_street_name}}</h1>
            <p>停车总数:{{ street.cost_times}}次</p>
            <p>收费总额:{{ street.act_cost[1:-3]}}元</p>
        </a>
        </li>
        {% endfor %}
        {% if not result %}
        <li>
        <a href="#">
            <h3>当前没有记录</h3>
        </a>
        </li>
        {%endif%}

    </ul>
</div>
{% endblock %}
