{% extends 'mobile/base.html' %}

{% set page_id = "queryparkingrecord-filter-page" %}

{% block content %}
<div data-role="content" id="content">
    <form method="POST" id="queryparkingrecord-form" action="/mobile/queryparkingrecord">
    <h3 class="title">停车记录查询</h3>
    <div data-role="fieldcontain">
        <label>车位编号:</label>
        <input name="parking_code" id="parking_code" type="number" data-clear-btn="true" pattern="[0-9]*" value="{{ parking_code if parking_code else ""}}" />
    </div>
 
    <div data-role="controlgroup">
        <label>车牌号:</label>
        <select name="carfirst" id="carfirst" class="select">
                  <option value="川">川</option>
                  <option value="赣">赣</option>
                  <option value="桂">桂</option>
                  <option value="甘">甘</option>
                  <option value="贵">贵</option>
                  <option value="沪">沪</option>
                  <option value="黑">黑</option>
                  <option value="京">京</option>
                  <option value="津">津</option>
                  <option value="晋">晋</option>
                  <option value="辽">辽</option>
                  <option value="鲁">鲁</option>
                  <option value="蒙">蒙</option>
                  <option value="闽">闽</option>
                  <option value="宁">宁</option>
                  <option value="青">青</option>
                  <option value="鄂">鄂</option>
                  <option value="琼">琼</option>
                  <option value="苏">苏</option>
                  <option value="皖">皖</option>
                  <option value="湘">湘</option>
                  <option value="新">新</option>
                  <option value="陕">陕</option>
                  <option value="渝">渝</option>
                  <option value="冀">冀</option>
                  <option value="豫">豫</option>
                  <option value="云" selected="selected">云</option>
                  <option value="粤">粤</option>
                  <option value="浙">浙</option>
                  <option value="藏">藏</option>
              </select>
              <select name="carsecond" id="carsecond" class="select">
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="D">D</option>
                  <option value="E">E</option>
                  <option value="F" selected="selected">F</option>
                  <option value="G">G</option>
                  <option value="H">H</option>
                  <option value="I">I</option>
                  <option value="J">J</option>
                  <option value="K">K</option>
                  <option value="L">L</option>
                  <option value="M">M</option>
                  <option value="N">N</option>
                  <option value="O">O</option>
                  <option value="P">P</option>
                  <option value="Q">Q</option>
                  <option value="R">R</option>
                  <option value="S">S</option>
                  <option value="T">T</option>
                  <option value="U">U</option>
                  <option value="V">V</option>
                  <option value="W">W</option>
                  <option value="X">X</option>
                  <option value="Y">Y</option>
                  <option value="Z" ed="">Z</option>
              </select>

        <input type="text" name="car_no" value="" id="car_no"/> <br />
    </div>
 
    <br />
    <input type="submit" value="查询" />
</form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $("#{{page_id}}").on("pageinit", function() {
        $('#car_no').keyup(function() {
            this.value = this.value.toUpperCase();
        });    
    });
    </script>
{% endblock %}
