{% block footer_reference %}
<script type='text/javascript'>
  $(document).ready(function () {
        $('#street_grid').jtable({
            title: '路段列表',
            paging: true,
            sorting: true,
            defaultSorting: 'f_id DESC',
            actions: {
                listAction: '/pc/GetStreet4jtable'
                ,deleteAction: '/pc/DeleteStreet4jtable'
                ,updateAction: '/pc/UpdateStreet4jtable'
                ,createAction: '/pc/CreateStreet4jtable'
            }
            ,fields: {
                f_id: {
                    key: true
                    ,title:"序号"
		    		,list:false
		    		,width:'3%'
                    ,inputClass: 'jtable-input-text'
                }
                ,f_name: {
                    title: '路段名称'
		            ,width:'8%'
                    ,inputClass: 'jtable-input-text'
                }
                ,f_total: {
                    title: '总车位数'
		            ,width:'10%'
		            ,sorting:false
                    ,options: {{sys}}
                    ,inputClass: 'jtable-input-text validate[required]'
                }
         	}
            ,formCreated: function (event, data) {
		        $(data.form.parent().parent()).css("top","40px");
                data.form.validationEngine({
                    promptPosition: "bottomLeft"
		        });
            }
            ,formSubmitting: function (event, data) {
                return data.form.validationEngine('validate');
            }
            ,formClosed: function (event, data) {
                data.form.validationEngine('hide');
                data.form.validationEngine('detach');
            }	
        });

        $('#txtFilter').keydown(function (event) {
            if(event.keyCode == 13){
                 var filter =  $('#txtFilter').val();
	    	     if(filter == "输入名称并回车查询") {
                     filter = "";
            	 }

            	 $('#street_grid').jtable('load', {
                     filter: filter
                 });
            }
        });

        $('#street_grid').jtable('load', {
            filter:''
        });
    }); 
</script>
{% endblock %}

{% block search_bar %}
    <div class="search block">
        <div class="h">
            <span class="icon-sprite icon-magnifier"></span>
            <h3>
                快速搜索</h3>
        </div>
        <div class="tl corner">
        </div>
        <div class="tr corner">
        </div>
        <div class="bl corner">
        </div>
        <div class="br corner">
        </div>
        <div class="cnt-wp">
            <div class="cnt">
                <div class="search-bar">
                    <label class="first txt-green">
                        关键字：</label>
                    <input type="text" name="filter" id="filter" class="input-small" />
                    <label>
                        <a class="btn-lit btn-middle" id="btnQuery" href="#"><span>搜索</span></a></label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="street_grid">
</div>
{% endblock %}
