    .jtable-input-default{width:350px  !important;}
    .jtable-input-text{width:350px  !important;}
    .jtable-input-textarea{width:350px !important;height:400px  !important;}
    .jtable-input-radiobutton{width:150px  !important;}
    .jtable-input-checkbox{width:150px  !important;}
    .jtable-input-date{width:200px  !important;}
